body{
  text-align: center;
 background-color: black;
 
 
  

}
h1{
  border-bottom: palevioletred solid 0.5px;
  font-size: 40px

  
}
.App{
  margin-top: 2rem;
  margin-right: 9rem;
  margin-left: 9rem;
  color:whitesmoke
}
.box{
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
 


}
input{
height: 35px;
  width: 160px;
  
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
 
}
.dropdown{
  height: 35px;
  width: 160px;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
}
.b1{

  font-size: 16px;
  font-weight: 500;
}
.b2{
  
  font-size: 16px;
  font-weight: 500;
}
.p{
  border: 1px solid palevioletred;
  margin-top: 2rem;
  color: whitesmoke;
  border-radius: 10px;
  background-color: #2a2a2a;
}